NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
NEXT_PUBLIC_REPUTATION_CONTRACT_ID=CREPLACE_WITH_DEPLOYED_REPUTATION_CONTRACT_ID
NEXT_PUBLIC_ESCROW_CONTRACT_ID=CREPLACE_WITH_DEPLOYED_ESCROW_CONTRACT_ID
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=REPLACE_WITH_YOUR_WALLETCONNECT_PROJECT_ID
